<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
<script type="text/javascript">
const hit_data = []
'{% for hit in hit_data %}'
    hit_data.push({
                x: parseInt('{{hit.landing_location_x}}', 10),
                y: parseInt('{{hit.landing_location_y}}', 10),
                pitcher: '{{hit.pitchername}}',
                pitchside: '{{hit.pitchside}}',
                launchspeed: '{{hit.launch_speed}}',
                result_type: '{{hit.result_type}}',
                date: '{{hit.date}}',
                pitch_type: '{{pitch_type}}',
            })
'{% endfor %}'
</script>


<script src="{% static 'js/scatterplot.js' %}"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


        <div style="height: 400px; width: 400px; background-image: url('{% static 'images/baseball_background.svg' %}');  background-repeat: no-repeat;
        background-size: 100% 100%;">
        <div id="chartContainer" style="position: relative; "></div></div>


{% endblock %}