<!DOCTYPE html>
    {% extends "basic_app/base.html" %}
    {% block body_block %}
        <h1>Welcome to Baseball Stats!</h1>


        <form method="POST">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Submit"/>

        {% if batter_info %}
        <div class="batterInfo">
            <p>Batter Data:</p>
            <table>
                    <thead>
                        <th> Batter Name</th>
                        <th> Team name</th>
                    </thead>
                    {% for batter in batter_info %}
                    <tr>
                        <td> <a href="/basic_app/batter/{{batter.batterid}}">{{ batter.name }}</a></td>
                        <td> {{ batter.teamname }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p> NO hit data FOUND!</p>
                </div>
        {% endif %}

        {% if pitcher_info %}
        <div class="PitcherInfo">
            <p>Pitcher Data:</p>
            <table>
                    <thead>
                        <th> Pitcher Name</th>
                        <th> Team Name</th>
                    </thead>
                    {% for pitcher in pitcher_info %}
                    <tr>
                        <td> <a href="/basic_app/batter/{{pitcher.pitcherid}}">{{ pitcher.name }}</a>{{pitcher.pitcherid}}</td>
                        <td> {{ pitcher.teamname }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p> NO hit data FOUND!</p>
                </div>
        {% endif %}

                



    {% endblock %}

